<%= form_for @spot do |form| %>
  <ul class="form2">
    <li><%= form.text_field :city, placeholder: "city" %></li>
    <li><%= form.text_field :country, placeholder: "country" %></li>
    <li><%= form.text_field :img, placeholder: "image url" %></li>
    <li><%= form.text_field :description, placeholder: "description" %></li>
    <li><%= form.submit %></li>
  </ul>
<%end%>
