<h4>What to do in <%= @spot.city %></h4
<!-- had to set instance variable in order for the name to appear -->
<ul>
<%= image_tag @spot.img %>
<li><%= @spot.country %></li>
<li><%= @spot.description %></li>
<li><%= link_to "Give this location a better description!", edit_spot_path(@spot.id) %></li>
<li><%= link_to "I hate this place! Get rid of it!", spot_path(@spot.id), :method => 'delete' %>
</ul>



